body {
	margin: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #e51836;
	margin-top: 60px;
}

p {
	color: #6e6e6e;
	font-weight: 400;
}

.navbar {
	background-color: #e51836;
	color: white;
	font-weight: 400;
}

.navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-brand:hover{
	color:white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	color:white;
}

#logo {
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 50px;
}

#start-button {
	border-radius: 10px;
	background-color: #e51836;
	color: #fff;
	padding: 10px;
	width: 200px;
	height: 50px;
}

a:hover {
	text-decoration: none;
}

#game {
	display: none;
}

.game-content {
	width: 500px;
	margin: 0 auto;
}

.product {
	height: 250px;
	width: 250px;
	margin: 0 auto;
	padding: 0;
	margin-top: 50px;
	display: inline-block;
}

h1 {
	font-size: 24px;
	font-weight: 600;
}

.navbar-brand {
	font-weight: 600;
}

.product-photo {
	min-height: 250px;
	max-width: 250px;
	margin-top: -20px;
}

.choice-button {
	border-radius: 10px;
	background-color: #fff;
	border: 2px solid #e51836;
	box-shadow: 4px 3px 0px 2px rgba(229,24,54,1);
	color: #e51836;
	padding: 10px;
	width: 200px;
	height: 50px;
	margin: 15px;
	font-size: 20px;
	font-weight: 600;
}

td {
	padding-right: 15px;
}

table:nth-child(2) {
	margin-bottom: 30px;
}

#simple_sketch {
	border: 1px solid #ccc;
	margin-bottom: 50px;
}

.show-work {
	color: #6e6e6e;
	font-weight: 300;
	font-style: italic;
	font-size: 14px;
}

hr {
	margin-top: 0;
}

@media screen and (min-width: 480px) {
	hr {
		margin-bottom: -30px;
	}
}

.items-container {
	margin: 10px;
	
}
