body {
	margin: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #e51836;
	margin-top: 60px;
	margin-bottom: 50px;
}

p {
	color: #6e6e6e;
	font-weight: 400;
}

.navbar {
	background-color: #e51836;
	color: white;
	font-weight: 400;
}

.navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-brand:hover{
	color:white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	color:white;
}

#logo {
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 50px;
}

#start-button {
	border-radius: 10px;
	background-color: #e51836;
	color: #fff;
	padding: 10px;
	width: 200px;
	height: 50px;
}

a:hover {
	text-decoration: none;
}

#game {
	display: none;
	text-align: center;
}

.game-content {
	margin: 0;
	text-align: center;
}

.product {
	height: 250px;
	width: 250px;
	margin: 0 auto;
	padding: 0;
	margin-top: 50px;
	display: inline-block;
}

h1 {
	font-size: 30px;
	font-weight: 600;
}

.navbar-brand {
	font-weight: 600;
}

.product-photo {
	min-height: 250px;
	max-width: 250px;
	margin-top: -20px;
}

.choice-button {
	border-radius: 10px;
	background-color: #fff;
	border: 2px solid #e51836;
	box-shadow: 4px 3px 0px 2px rgba(229,24,54,1);
	color: #e51836;
	padding: 10px;
	width: 200px;
	height: 50px;
	margin: 15px;
	font-size: 20px;
	font-weight: 600;
	display: block;
}

.choice-button:hover {
	border-radius: 10px;
	background-color: #fff;
	border: 2px solid #000;
	box-shadow: 4px 3px 0px 2px rgba(0,0,0,1);
	color: #e51836;
}

td {
	padding-right: 15px;
}

table:nth-child(2) {
	margin-bottom: 30px;
}

#simple_sketch {
	border: 1px solid #ccc;
	width: 100%;
	max-width: 500px;
	height: 100%;
}

.show-work {
	color: #6e6e6e;
	font-weight: 300;
	font-style: italic;
	font-size: 14px;
}

hr {
	margin-top: 0;
}

@media screen and (min-width: 480px) {
	hr {
		margin-bottom: -30px;
	}
}

.items-container {
	display: block;
	margin: 10px;
	left: 0px;
	right: 0px;
	top: 250px;

}

.choices-container {
	display: inline-block;
}


.product {
	display: inline-block;
}

.congrats {
	margin-top: 60px;
	margin-bottom: 30px;
	font-size: 30px;
	color: #e51836;
	font-weight: 600;
}

#myClearButton {
	float: right;
}

#canvas-elements {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}
