html, body {
	margin: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #e51836;
	margin-top: 50px;
}

.navbar {
	background-color: #e51836;
	color: white;
	font-weight: 400;
}

.navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

p {
	color: #e51836;
}

#logo {
	margin: 0 auto;
	margin-bottom: 50px;
}

#start-button {
	border-radius: 10px;
	background-color: #e51836;
	color: #fff;
	padding: 10px;
	width: 200px;
	height: 50px;
}

a:hover {
	text-decoration: none;
}

#game {
	display: none;
}